<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
   </configSections>
   <appSettings>
      <add key="INTERVAL_WATCH_MIN" value="1" />
      <add key="NAME_SERVICE" value="MAT-EmailQueManager" />
      <add key="ALERTS_LOG_FILE_SIZE_KB_THRESHHOLD" value="2048" />
      <add key="PROCESS_MEMORY_KB_THRESHHOLD" value="50" />
      <add key="EmailCampaignLogFolderPath" value="E:\MarketingAutomationTool\MarketingAutomationTool\MarketingAutomationTool\Logs" />
      <add key="EmailCampaignLogFileName" value="EmailCampaignLog-{0}{1}{2}.txt" />
      <add key="smtpclient" value="smtp.gmail.com" />
      <add key="port" value="587" />
      <add key="smtpusername" value="temp@gmail.com" />
      <add key="smtppassword" value="temp" />
      <add key="fromaddress" value="temp@gmail.com" />
      <add key="EmailsOpenedTrackerURL" value="http://localhost:60178/Public/Campaigns/EmailsOpenedTrackerURL.aspx" />
   </appSettings>
  <connectionStrings>
    <add name="AutoMarketerConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;Persist Security Info=True;User ID=auto;Password=auto!2018"
      providerName="System.Data.SqlClient" />
    <add name="EmailCampaignService.Properties.Settings.MarketingAutomationToolConnectionString"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;User ID=auto;Password=auto!2018"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>