<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.MarketingAutomationToolConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;User ID=auto;Password=auto!2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>