<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
   <appSettings>
    <add key="cellrange" value="1:16" />
    </appSettings> 
    <connectionStrings>
        <add name="AutoMarketerConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;Persist Security Info=True;User ID=auto;Password=auto!2018"
            providerName="System.Data.SqlClient" />
        <add name="LeadServices.Properties.Settings.AutoMarketerConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;Persist Security Info=True;User ID=auto;Password=auto!2018"
            providerName="System.Data.SqlClient" />
        <add name="LeadServices.Properties.Settings.MarketingAutomationToolConnectionString1"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;User ID=auto;Password=auto!2018"
            providerName="System.Data.SqlClient" />
        <add name="LeadServices.Properties.Settings.MarketingAutomationToolConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MarketingAutomationTool;User ID=auto;Password=auto!2018"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>