ALTER PROCEDURE [dbo].[S_ContactSearch_Insert]
@AccountId UNIQUEIDENTIFIER,
@CreatedBy UNIQUEIDENTIFIER,
@SearchJsonString NVARCHAR(MAX),
@SearchType NVARCHAR(20),
@Id INT OUTPUT,
@SearchUID UNIQUEIDENTIFIER OUTPUT
AS
BEGIN

INSERT INTO ContactSearch(ACCOUNTID, CREATEDBY, SearchJsonString,SearchType)
VALUES(@AccountId,@CreatedBy, @SearchJsonString,@SearchType)

SELECT @Id= SCOPE_IDENTITY()

SELECT @SearchUID=SearchUID FROM ContactSearch WHERE Id=@Id

END