CREATE PROCEDURE [dbo].[S_LeadReports_GetUnsubcribeSource]
@AccountID UNIQUEIDENTIFIER
AS
BEGIN
SELECT DISTINCT ISNULL(UNSUBSCRIBED_VIA, 'Not Specified') UNSUBSCRIBED_VIA
FROM Contact C WITH (NOLOCK)
INNER JOIN Contact_Subscription CS WITH (NOLOCK)
ON  C.ContactID=CS.CONTACT_ID
WHERE AccountId=@AccountID AND UNSUBSCRIBED_DATE IS NOT NULL
ORDER BY UNSUBSCRIBED_VIA

END

--exec S_LeadReports_GetUnsubcribeSource '6388071F-36BB-4823-A3ED-8770ADAE0F51'



