ALTER PROCEDURE [dbo].[S_LEAD_UpdateContactSubscription]
@CONTACT_ID UNIQUEIDENTIFIER,
@ACTION INT,
@SUBSCRIBED_VIA VARCHAR(50),
@SUBSCRIBED_BY UNIQUEIDENTIFIER,
@SUBSCRIBE_IP_ADDRESS VARCHAR(15),
@UNSUBSCRIBED_VIA VARCHAR(20),
@UNSUBSCRIBED_BY UNIQUEIDENTIFIER,
@UNSUBSCRIBE_IP_ADDRESS VARCHAR(15),
@SUBCRIPTIONCHANGED BIT,
@CampaignID INT
AS
BEGIN


IF (@SUBCRIPTIONCHANGED=1)
BEGIN
	IF (@ACTION=1)
	BEGIN
		UPDATE Contact_Subscription
			SET LAST_UPDATED=GETDATE(),
				SUBSCRIBED_DATE=GETDATE(),
				SUBSCRIBED_VIA=@SUBSCRIBED_VIA,
				SUBSCRIBED_BY=@SUBSCRIBED_BY,
				SUBSCRIBE_IP_ADDRESS=@SUBSCRIBE_IP_ADDRESS,
				UNSUBSCRIBED_DATE=NULL,
				UNSUBSCRIBED_VIA=NULL,
				UNSUBSCRIBED_BY=NULL,
				UNSUBSCRIBE_IP_ADDRESS=NULL,
				CampaignID =NULL
			WHERE CONTACT_ID=@CONTACT_ID
	END
	ELSE IF (@ACTION=2)
	BEGIN
			UPDATE Contact_Subscription
			SET LAST_UPDATED=GETDATE(),
				SUBSCRIBED_DATE=NULL,
				SUBSCRIBED_VIA=NULL,
				SUBSCRIBED_BY=NULL,
				SUBSCRIBE_IP_ADDRESS=NULL,
				UNSUBSCRIBED_DATE=GETDATE(),
				UNSUBSCRIBED_VIA=@UNSUBSCRIBED_VIA,
				UNSUBSCRIBED_BY=@UNSUBSCRIBED_BY,
				UNSUBSCRIBE_IP_ADDRESS=@UNSUBSCRIBE_IP_ADDRESS,
				CampaignID =@CampaignID
			WHERE CONTACT_ID=@CONTACT_ID
	END
END
ELSE
BEGIN
			UPDATE Contact_Subscription
			SET LAST_UPDATED=GETDATE()
			WHERE CONTACT_ID=@CONTACT_ID
END
END


--SELECT * FROM ContactAction