ALTER PROCEDURE [dbo].[S_LEAD_ADDContactSubscription]
@CONTACT_ID UNIQUEIDENTIFIER,
@ACTION INT,
@SUBSCRIBED_VIA VARCHAR(50),
@SUBSCRIBED_BY UNIQUEIDENTIFIER,
@SUBSCRIBE_IP_ADDRESS VARCHAR(15),
@UNSUBSCRIBED_VIA VARCHAR(20),
@UNSUBSCRIBED_BY UNIQUEIDENTIFIER,
@UNSUBSCRIBE_IP_ADDRESS VARCHAR(15)
AS
BEGIN

DECLARE @COUNT INT=0
SELECT @COUNT = COUNT(*) FROM Contact_Subscription WITH (NOLOCK) WHERE CONTACT_ID = @CONTACT_ID

IF (@ACTION=1)
BEGIN

	IF (@COUNT=0)
	BEGIN
		INSERT INTO Contact_Subscription
				   (CONTACT_ID
				   ,DATE_CREATED
				   ,LAST_UPDATED
				   ,SUBSCRIBED_DATE
				   ,SUBSCRIBED_VIA
				   ,SUBSCRIBED_BY
				   ,SUBSCRIBE_IP_ADDRESS
				   ,UNSUBSCRIBED_DATE
				   ,UNSUBSCRIBED_VIA
				   ,UNSUBSCRIBED_BY
				   ,UNSUBSCRIBE_IP_ADDRESS)
			 VALUES
				   (@CONTACT_ID
				   ,GETUTCDATE()
				   ,GETUTCDATE()
				   ,GETUTCDATE()
				   ,@SUBSCRIBED_VIA
				   ,@SUBSCRIBED_BY
				   ,@SUBSCRIBE_IP_ADDRESS
				   ,NULL
				   ,NULL
				   ,NULL
				   ,NULL)
	END
	ELSE
	BEGIN
		UPDATE Contact_Subscription
		SET LAST_UPDATED=GETUTCDATE(),
			SUBSCRIBED_DATE=GETUTCDATE(),
			SUBSCRIBED_VIA=@SUBSCRIBED_VIA,
			SUBSCRIBED_BY=@SUBSCRIBED_BY,
			SUBSCRIBE_IP_ADDRESS=@SUBSCRIBE_IP_ADDRESS
		WHERE CONTACT_ID=@CONTACT_ID
	END
END
ELSE IF (@ACTION=2)
BEGIN
	IF (@COUNT=0)
	BEGIN
		INSERT INTO Contact_Subscription
				   (CONTACT_ID
				   ,DATE_CREATED
				   ,LAST_UPDATED
				   ,SUBSCRIBED_DATE
				   ,SUBSCRIBED_VIA
				   ,SUBSCRIBED_BY
				   ,SUBSCRIBE_IP_ADDRESS
				   ,UNSUBSCRIBED_DATE
				   ,UNSUBSCRIBED_VIA
				   ,UNSUBSCRIBED_BY
				   ,UNSUBSCRIBE_IP_ADDRESS)
			 VALUES
				   (@CONTACT_ID
				   ,GETUTCDATE()
				   ,GETUTCDATE()
				   ,NULL
				   ,NULL
				   ,NULL
				   ,NULL
				   ,GETUTCDATE()
				   ,@UNSUBSCRIBED_VIA
				   ,@UNSUBSCRIBED_BY
				   ,@UNSUBSCRIBE_IP_ADDRESS)
	END
	ELSE
	BEGIN
		UPDATE Contact_Subscription
		SET LAST_UPDATED=GETUTCDATE(),
			UNSUBSCRIBED_DATE=GETUTCDATE(),
			UNSUBSCRIBED_VIA=@SUBSCRIBED_VIA,
			UNSUBSCRIBED_BY=@UNSUBSCRIBED_BY,
			UNSUBSCRIBE_IP_ADDRESS=@SUBSCRIBE_IP_ADDRESS
		WHERE CONTACT_ID=@CONTACT_ID
	END


END
END


