ALTER PROCEDURE [dbo].[S_LEAD_ADDLEAD]
@AccountID UNIQUEIDENTIFIER,
@Title NVARCHAR(50),
@FirstName NVARCHAR(100),
@MiddleName NVARCHAR(100),
@LastName NVARCHAR(100),
@CompanyName NVARCHAR(100),
@WebSite NVARCHAR(250),
@Position NVARCHAR(50),
@ContactType INT,
@LeadStatus INT,
@ContactStatus INT,
@Gender CHAR(1),
@EmailAddress NVARCHAR(250),
@PhoneNumber VARCHAR(100),
@MobileNumber VARCHAR(100),
@FacebookID NVARCHAR(50),
@Address1 NVARCHAR(250),
@Address2 NVARCHAR(250),
@City NVARCHAR(50),
@State NVARCHAR(50),
@CountryId INT,
@ZipCode NVARCHAR(20),
@SubscribedToEmail BIT,
@UseForTesting BIT,
@CreatedBy UNIQUEIDENTIFIER,
@LeadGUID UNIQUEIDENTIFIER OUT
AS
BEGIN

SET @LeadGUID = NEWID()

INSERT INTO dbo.Contact
           (ContactID,
			AccountID,
			Title,
			FirstName,
			MiddleName,
			LastName,
			CompanyName,
			WebSite,
			Position,
			ContactType,
			LeadStatus,
			ContactStatus,
			Gender,
			EmailAddress,
			PhoneNumber,
			MobileNumber,
			FacebookID,
			Address1,
			Address2,
			City,
			[State],
			CountryId,
			ZipCode,
			SubscribedToEmail,
			UseForTesting,
			CreatedBy,
			CreatedDate)
     VALUES
           (@LeadGUID,
			@AccountID,
			@Title,
			@FirstName,
			@MiddleName,
			@LastName,
			@CompanyName,
			@WebSite,
			@Position,
			@ContactType,
			@LeadStatus,
			@ContactStatus,
			@Gender,
			@EmailAddress,
			@PhoneNumber,
			@MobileNumber,
			@FacebookID,
			@Address1,
			@Address2,
			@City,
			@State,
			@CountryId,
			@ZipCode,
			@SubscribedToEmail,
			@UseForTesting,
			@CreatedBy,
			GETUTCDATE())
END
