ALTER PROCEDURE [dbo].[S_LEAD_TotalByMonthProgress]
@AccountID UNIQUEIDENTIFIER
AS
BEGIN

DECLARE @Data TABLE(ID INT, MONTHNUM INT,[MONTH] VARCHAR(20),[COUNT] INT)
DECLARE @Months TABLE(MONTHNUM INT)
DECLARE @MinMonth INT
DECLARE @MaxMonth INT

INSERT @Data(ID, MONTHNUM,[MONTH],[COUNT])
SELECT TOP 12 ROW_NUMBER () OVER ( ORDER BY MONTH(DATEADD(HH,8,C.CreatedDate)) ) ID, 
MONTH(DATEADD(HH,8,C.CreatedDate)) [MONTHNUM],
FORMAT(DATEADD(HH,8,C.CreatedDate), 'MMMM', 'en-US') [MONTH], 
COUNT(C.ContactID) [COUNT]
FROM Contact C WITH (NOLOCK)
LEFT JOIN Country SC WITH (NOLOCK)
ON C.CountryId = SC.CountryId
WHERE AccountID=@AccountID AND (CAST(DATEADD(HH,8,C.CreatedDate) AS DATE)<=CAST(DATEADD(HH,8,GETUTCDATE()) AS DATE))
GROUP BY MONTH(DATEADD(HH,8,C.CreatedDate)), FORMAT(DATEADD(HH,8,C.CreatedDate), 'MMMM', 'en-US')
ORDER BY  MONTH(DATEADD(HH,8,C.CreatedDate))

SELECT @MinMonth = MIN(MONTHNUM) FROM @Data
SELECT @MaxMonth = MAX(MONTHNUM) FROM @Data

WHILE (@MinMonth<=@MaxMonth)
BEGIN
	INSERT @Months(MonthNum)
	SELECT @MinMonth

	SET @MinMonth=@MinMonth+1
END

SELECT M.MONTHNUM, ISNULL(D.ID,0) ID, dbo.fnMonthName(M.MONTHNUM) [MONTH], ISNULL(D.[COUNT],0) [COUNT]
FROM @Months M
LEFT JOIN @Data D
ON M.MONTHNUM=D.MONTHNUM
ORDER BY M.MONTHNUM


END

--exec S_LEAD_TotalByMonthProgress '6388071F-36BB-4823-A3ED-8770ADAE0F51'