USE MarketingAutomationTool

CREATE PROCEDURE [dbo].[ENT_RESOURCE_SEARCH] 
@RES_ID INT = NULL, 
@SECTION_NAME CHAR(32) = NULL, 
@FIELD_NAME CHAR(64) = NULL, 
@LANG_ID varchar(3) = NULL, 
@PARENT_ID INT = NULL 
AS  

SELECT SLR.*, SectionName, FieldName 
FROM dbo.SYS_LANGUAGE_RESOURCE SLR WITH(NOLOCK) 
INNER JOIN SYS_RESOURCE RES WITH(NOLOCK)
ON RES.RES_ID = SLR.RES_ID

WHERE 
((@RES_ID IS NULL) OR (@RES_ID IS NOT NULL AND SLR.RES_ID = @RES_ID )) AND
((@LANG_ID IS NULL) OR (@LANG_ID IS NOT NULL AND LANG_ID = @LANG_ID )) AND
((@SECTION_NAME IS NULL) OR (@SECTION_NAME IS NOT NULL AND RES.SectionName = @SECTION_NAME )) AND
((@FIELD_NAME IS NULL) OR (@FIELD_NAME IS NOT NULL AND RES.FieldName = @FIELD_NAME )) AND
((@PARENT_ID IS NULL) OR (@PARENT_ID IS NOT NULL AND PARENT_ID = @PARENT_ID ))



-- exec ENT_RESOURCE_SEARCH 


