CREATE FUNCTION [dbo].[fnGenerateContactListTableName]
	(
		@TableNamePreFix VARCHAR(64),
		@FILTER_ID BIGINT
	)
RETURNS VARCHAR(256)
AS
	BEGIN
	DECLARE @DATABASE VARCHAR(256)
	SELECT @DATABASE  = SYS_VALUE FROM SYS_KEY WHERE SYS_KEY='DATABASE_ContactsList'

	DECLARE @tblName VARCHAR(256)
	SET @tblName = @DATABASE + '.[dbo].' + @TableNamePreFix + '_' + CAST(@FILTER_ID AS VARCHAR(32))
	RETURN @tblName
	END


--SELECT * FROM [MESSAGING_CONTACTLIST].[dbo].[CON_CONTACTLIST_111]


